# PM Synapse
PORT=3010
NODE_ENV=development
JWT_SECRET=change-me-synapse-jwt-secret

DB_PROVIDER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=synapse
DB_PASSWORD=change-me-synapse-db-password
DB_NAME=pm_synapse

PM_BASE_URL=http://localhost:3000
SSO_CLIENT_ID=pm-synapse
SSO_CLIENT_SECRET=change-me-synapse-sso-secret
ENCRYPTION_KEY=

NEXT_PUBLIC_APP_URL=http://localhost:3010
